.wrapper {
	max-width: 680px;
}

.code {
	font-family: "Monaco";
	font-weight: 300;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

.large-hero {
	position: relative;
	margin-left: calc(50vw - 340px)
}

.large-hero__text-content {
	position: absolute;
	width: 100%;
	text-align: justify;
}

.large-hero h1 {
	font-weight: 400;
}

.large-hero p {
	font-weight: 200;
}

a {
	color: #d59541;
}